<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

  <!-- Optional meta tags -->
  <meta name="author" content="Sanjive Agarwal">
  <meta name="description" content="Rutgers Data Vizualization Bootcamp Assignment - Mission to Mars">
  <meta name="revised" content="Friday, May 25th, 2020, 4:22 pm">
  <meta name="keywords" content="Rutgers Data Bootcamp - Mission to Mars Assignment">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--CSS Link-->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/min-3.css">

  <title>Mission to Mars</title>
</head>

<body>
  <!-- Content Section -->
  <div class="container-fluid">
    <div class="jumbotron text-center"
      style="background-image: url('https://www.nasa.gov/sites/default/files/styles/card_page_banner/public/thumbnails/image/mars-2020-rover.jpg'); background-size: cover;">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- News Section -->
    <div class="container">
      <div class="col col-12">
        <h2>Lastest News from Mars</h2>
        <p><strong>{{ mars_dict.news_title }}</strong> </p>
        <p>{{ mars_dict.news_p }}</p>
      </div>
    </div>

    <!--Mars Info Section-->
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <!-- Featured Img -->
          <div class="col col-lg-6 col-6">
            <h2>Today's Featured Image</h2>
            <img src="{{ mars_dict.featured_image_url }}" class="thumbnail img-responsive">
          </div>
          <!--Latest Tweet-->
          <div class="col col-lg-6 col-6">
            <h2>Current Weather on Mars</h2>
            <p> {{ mars_dict.latest_tweet}}</p>
          </div>
          <!--Mars Facts-->
          <div class="col col-lg-6 col-6">
            <h2>Mars Facts</h2>
            <p>{{ mars_dict.mars_facts_table_html|safe}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Hemishpere Section -->
    <div class="container">
      <div class="col col-12">
        <h2> Here is a closer look at the hemispheres of Mars </h2>

        <div class="row">
          <div class="col col-lg-5 col-6">
            <p> {{ mars_dict.hemispheres_image_urls[0].title }}</p>
            <img src="{{ mars_dict.hemispheres_image_urls[0].img_url }}" class="thumbnail img-responsive">
          </div>
          <div class="col col-lg-5 col-6">
            <p> {{ mars_dict.hemispheres_image_urls[1].title }}</p>
            <img src="{{ mars_dict.hemispheres_image_urls[1].img_url }}" class="thumbnail img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-5 col-6">
            <p> {{ mars_dict.hemispheres_image_urls[2].title }}</p>
            <img src="{{ mars_dict.hemispheres_image_urls[2].img_url }}" class="thumbnail img-responsive">
          </div>
          <div class="col col-lg-5 col-6">
            <p> {{ mars_dict.hemispheres_image_urls[3].title }}</p>
            <img src="{{ mars_dict.hemispheres_image_urls[3].img_url }}" class="thumbnail img-responsive">
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End of Content Section -->

  <!-- Footer Section -->
  <footer class="page-footer font-small text-center bg-dark text-white">
    <div class="footer-copyright text-center p-3">© 2020 Copyright: Sanjive Agarwal</div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>